body {
    margin: 0;
    overflow: hidden;
    background-color: #333;
}

#game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

canvas {
    background-color: #7ec0ee; /* Sky blue */
    border: 1px solid black;
}